*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: "Work Sans", sans-serif;
    background-image: url(./assets/images/background-pattern-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-color: hsl(275, 100%, 97%);
}
h2{
    font-size: 1.25rem;
    color: hsl(238, 29%, 16%);
    cursor: pointer;
}
h1 {
    font-size: 4rem;
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}
.minus-image{
    display: none;
}
.active{
    display: block;
}


.container {
    position: relative;
    top: 250px;
    width: 35%;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.container .info{
    margin-top: 2rem;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-bottom: 25px;
}
.container .info p{
    display: none;
    padding-top: 1rem;
    color: hsl(292, 16%, 49%);
    line-height: 1.75rem;
}
.container .info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.container .heading{
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width:600px) {
    .container {
        width: 90%;
        padding: 30px;
        top: 100px;
    }
    body{
        background-image: url(./assets/images/background-pattern-mobile.svg);
        height: 200px;
    }
    h1 {
        font-size: 3rem;
    }
    
}
@media screen and (min-width:600px) and (max-width:900px){
    .container {
        width: 85%;
        top: 120px;
    }
}
@media screen and (min-width:900px) and (max-width:1200px){
    .container {
        width: 85%;
        top: 120px;
    }
    
}
@media screen and (min-width:1200px) and (max-width:1800px){
    .container {
        width: 50%;
        top: 150px;
    }
    
}